[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/druiduser/Desktop/steam.desktop]
row=3
col=0

[/home/druiduser/Desktop/a_h 0.1]
row=2
col=0

[/]
row=0
col=0

[/home/druiduser]
row=1
col=0

